@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 50px;
  font-weight: normal;
  color: rgb(70, 28, 13);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.didILetter {
  font-size: 60px;
  font-weight: lighter;
  color: rgb(106, 180, 145);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.didDTwoLetter {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(136, 87, 182);
  text-decoration: initial;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* THE word */

.theTLetter {
  font-size: 50px;
  font-weight: normal;
  color: rgb(68, 5, 241);
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.theHLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.theELetter {
  font-size: 72px;
  font-weight: bold;
  color: rgb(178, 247, 68);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 72px;
  font-weight: light;
  color: rgb(26, 68, 15);
  text-decoration: underline;
  text-transform: normal;
  font-family: Verdana, Tahoma, sans-serif;
}

.frontendRLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.frontendOLetter {
  font-size: 32px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.frontendNLetter {
  font-size: 56px;
  font-weight: bold;
  color: aqua;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode" sans-serif;
}

.frontendTLetter {
  font-size: 45px;
  font-weight: light;
  color: aqua;
  text-decoration: bold;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.frontendELetter {
  font-size: 35px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: cursive;
}

.frontendNTwoLetter {
  font-size: 84px;
  font-weight: bold;
  color: rgba(6, 252, 231, 0.856);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.frontendDLetter {
  font-size: 63px;
  font-weight: 100;
  color: rgb(14, 53, 23);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 40px;
  font-weight: light;
  color: #472a21;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: Trebuchet MS;
}
.developerELetter {
  font-size: 58px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: solid;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.developerVLetter {
  font-size: 70px;
  font-weight: bold;
  color: #03fc39;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
.developerETwoLetter {
  font-size: 47px;
  font-weight: bold;
  color: #1c1aad;
  text-decoration: overline;
  text-shadow: black;
  text-transform: lowercase;
  font-family: "Courier New", Courier, monospace;
}
.developerLLetter {
  font-size: 82px;
  font-weight: bold;
  color: #558a61;
  text-decoration: wavy;
  text-shadow: #0d1136;
  text-transform: uppercase;
  font-family: "Gill Sans MT";
}
.developerOLetter {
  font-size: 72px;
  font-weight: lighter;
  color: #a8474d;
  text-shadow: #ffc4f7;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: Impact, "Arial Narrow Bold";
}
.developerPLetter {
  font-size: 70px;
  font-weight: bold;
  color: #0d1136;
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: Verdana;
}
.developerEThreeLetter {
  font-size: 57px;
  font-weight: bold;
  color: #eb0901;
  text-transform: lowercase;
  font-family: Georgia;
}
.developerRLetter {
  font-size: 53px;
  font-weight: 123;
  color: #023b22;
  text-transform: uppercase;
  font-family: Courier New;
}
/* TAKE word */
.takeTLetter {
  font-size: 107px;
  font-weight: 500;
  color: #472a21;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
}
.takeALetter {
  font-size: 65px;
  font-weight: 300;
  color: darkslategrey;
  text-transform: lowercase;
  text-decoration: wavy;
  font-family: cursive;
}
.takeKLetter {
  font-size: 49px;
  font-weight: bolder;
  color: #0d1136;
  text-transform: uppercase;
  text-decoration: line-through;
  font-family: "Courier New", Courier, monospace;
}
.takeELetter {
  font-size: 83px;
  font-weight: normal;
  color: #eb0901;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* UP word */
.upULetter {
  font-size: 68px;
  font-weight: bold;
  color: #353803;
  text-transform: lowercase;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.upPLetter {
  font-size: 46px;
  font-weight: 700;
  color: #eb0901;
  text-transform: lowercase;
  text-decoration: overline;
  font-family: "Courier New", Courier, monospace;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 72px;
  font-weight: bold;
  font-family: Georgia, Times, serif;
  color: #109c2ea4;
  text-transform: uppercase;
  text-decoration: line-through;
}
.gardeningALetter {
  font-size: 62px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #221a3b;
  text-transform: lowercase;
  text-decoration: none;
}
.gardeningRLetter {
  font-size: 43px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: hsl(204, 77%, 18%);
  text-transform: uppercase;
  text-decoration: overline;
}
.gardeningDLetter {
  font-size: 51px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  color: #2a0849;
  text-decoration: line-through;
  text-transform: capitalize;
}
.gardeningELetter {
  font-size: 63px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #023b22;
  text-decoration: line-through;
  text-transform: lowercase;
}
.gardeningNLetter {
  font-size: 55px;
  font-weight: 700;
  font-family: monospace;
  color: #558a61;
  text-decoration: none;
  text-transform: uppercase;
}
.gardeningILetter {
  font-size: 51px;
  font-weight: bold;
  font-family: cursive;
  color: #353803;
  text-decoration: underline;
  text-transform: uppercase;
}
.gardeningNTwoLetter {
  font-size: 85px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffc4f7;
  text-decoration: underline;
  text-transform: lowercase;
}
.gardeningGTwoLetter {
  font-size: 76px;
  font-weight: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #109c2ea4;
  text-decoration: overline;
  text-transform: uppercase;
}

/* BECAUSE word */

.becauseBLetter {
  font-size:61px;
  font-weight:bolder;
  font-family: 'Times New Roman', Times, serif;
  color: #551126;
  text-decoration:underline;
  text-transform:uppercase;
}
.becauseELetter {
  font-size: 65px;
  font-family:'Courier New', Courier, monospace;
  font-weight:bold;
  color: #47f11d;
  text-decoration:underline;
  text-transform:lowercase;
}
.becauseCLetter {
  font-size: 45px;
  font-weight:lighter;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #4d480c;
  text-decoration:overline;
  text-transform:uppercase;
}
.becauseALetter {
  font-size: 86px;
  font-weight:bold
  font-family:
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.becauseULetter {
  font-size: 76px;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.becauseSLetter {
  font-size: 49px;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.becauseETwoLetter {
  font-size: 64px;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

/* THEY word */

.theyTLetter {
  font-size: 56px;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.theyHLetter {
  font-size: 49px;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.theyELetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.theyYLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
/* WANTED word */

.wantedWLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.wantedALetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.wantedNLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.wantedTLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.wantedELetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.wantedDLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

/* TO word */

.toTLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.toOLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

/* IMPROVE word */

.improveILetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.improveMLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.improvePLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.improveRLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.improveOLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.improveVLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.improveELetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

/* THEIR word */

.theirTLetter {
    font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.theirHLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.theirELetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.theirILetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.theirRLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

/* ROOT word */

.rootRLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.rootOLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.rootOTwoLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.rootTLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

/* SKILLS word */

.skillsSLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.skillsKLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.skillsILetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.skillsLLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.skillsLTwoLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}
.skillsSTwoLetter {
  font-size: ;
  font-weight: ;
  font-family: ;
  color: #ffc4f7;
  text-decoration: ;
  text-transform: ;
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
